body {
  font-family: Consolas, monaco, monospace;
  cursor: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><text x="0" y="20" font-size="20">🤖</text></svg>') no-repeat center;
  background-size: contain;
  border: none;
}
